@import "../../utilities/variables";

.nav__logo {
  min-width: $frame__min__width;

  .nav__img {
    width: 2.5rem;
    object-fit: contain;
  }

  .nav__text {
    width: 4rem;
    object-fit: contain;
  }
}
@include media-breakpoint-down(sm) {
  .offcanvas.offcanvas-end {
    width: 70%;
  }
}
