@font-face {
  font-family: "NotoSansKR-100";
  src: url(../../font/NotoSansKR/NotoSansKR-Thin.otf);
}

@font-face {
  font-family: "NotoSansKR-300";
  src: url(../../font/NotoSansKR/NotoSansKR-Light.otf);
}

@font-face {
  font-family: "NotoSansKR-400";
  src: url(../../font/NotoSansKR/NotoSansKR-Regular.otf);
}

@font-face {
  font-family: "NotoSansKR-500";
  src: url(../../font/NotoSansKR/NotoSansKR-Medium.otf);
}

@font-face {
  font-family: "NotoSansKR-700";
  src: url(../../font/NotoSansKR/NotoSansKR-Bold.otf);
}

@font-face {
  font-family: "NotoSansKR-900";
  src: url(../../font/NotoSansKR/NotoSansKR-Black.otf);
}
