* {
  // 100, 300, 400, 500, 700, 900
  font-family: NotoSansKR-400 sans-serif;
}

.main__menu__card-list {
  min-width: 20rem;
}

.main__menu__card {
}

.main__menu__card-img {
  object-fit: contain;
}

@include media-breakpoint-down(sm) {
  .offcanvas.offcanvas-end {
    width: 75%;
  }
}
